# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @pierregee
/.husky/                                        @pierregee

/src                                            @pierregee
/public                                         @pierregee

netlify.toml                                    @pierregee
tsconfig.json                                   @pierregee

package.json                                    @pierregee
package-lock.json                               @pierregee
/docker-compose.yml                             @pierregee

CONTRIBUTING.md                                 @pierregee
README.md                                       @pierregee
LICENSE                                         @pierregee
