@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
  background: #000000;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* To style :before and :after of button border to have color transition on hover */
  .button-border {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border-radius: 30px;
    z-index: -1;
    transition-property: opacity;
    transition-duration: 300ms;
  }

  /* To style :before and :after of button label to have color transition on hover */
  .button-text {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition-property: opacity;
    transition-duration: 300ms;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .brand-gradient-1 {
    background-image: linear-gradient(
      103.45deg,
      #ff12af 22.86%,
      #0821bb 74.53%,
      #42f9c2 105.23%
    );
  }

  .brand-gradient-2 {
    background-image: linear-gradient(
      103.45deg,
      #42f9c2 3.99%,
      #082fd4 105.23%
    );
  }

  /* To style pseudo element to keep child menu open when hovering across a gap between parent and child menu */
  .hover-menu-gap {
    content: "";
    display: block;
    height: 20px;
    position: absolute;
    top: -20px;
    width: 100%;
  }

  /* To style pseudo element to have underline color transition on hover */
  .cta-border {
    content: "";
    position: absolute;
    width: calc(100% - 64px);
    left: 32px;
    bottom: 0px;
    height: 2px;
    transition-property: opacity;
    transition-duration: 300ms;
  }

  .gradient-cube {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition-property: opacity;
    transition-duration: 300ms;
  }

  .cube-gradient-1 {
    background-image: linear-gradient(103.45deg, #001ED3 3.99%, #001983 105.23%);
  }

  .cube-gradient-2 {
    background-image: linear-gradient(259.61deg, #EC008C 0%, #5B10FF 84.61%, #0468D6 100%);
  }
}

video {
  clip-path: inset(1px 1px);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(129, 129, 129);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: rgb(55 47 71) 0px 0px 5px inset;
  border-radius: 10px;
}

.brand-gradient-1 {
  background-image: linear-gradient(103.45deg, #FF12AF 22.86%, #0821BB 74.53%, #42F9C2 105.23%);
}

.brand-gradient-2 {
  background-image: linear-gradient(103.45deg, #42F9C2 3.99%, #082FD4 105.23%);
}

.black-gradient-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(152.58deg, rgba(51, 51, 51, 0.4) -3.08%, rgba(128, 128, 128, 0.1) 77.78%);
}

.feather {
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.cube-left {
  transform: matrix(1, 0.58, 0, 0.89, 0, 0);
}

.cube-top {
  transform: matrix(0.71, -0.41, 1.23, 0.71, 0, 0);
}

.cube-right {
  transform: matrix(1, -0.58, 0, 0.89, 0, 0);
}
